{
  "openapi": "3.0.3",
  "info": {
    "title": "laminar",
    "description": "",
    "license": {
      "name": ""
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.lmnr.ai/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/endpoint/run": {
      "post": {
        "tags": [
          "api::endpoints"
        ],
        "operationId": "run_endpoint_graph",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Endpoint run result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "{Name of output node}": {"$ref": "#/components/schemas/Message"}
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "LLMNodeMetaLog": {
        "type": "object",
        "properties": {
          "semanticCacheEnabled": {
            "type": "boolean"
          },
          "semanticCacheRetrieved": {
            "type": "boolean",
            "nullable": true
          },
          "inputMessageCount": {
            "type": "integer",
            "format": "int64"
          },
          "inputTokenCount": {
            "type": "integer",
            "format": "int64"
          },
          "outputTokenCount": {
            "type": "integer",
            "format": "int64"
          },
          "totalTokenCount": {
            "type": "integer",
            "format": "int64"
          },
          "prompt": {
            "type": "string"
          },
          "approximate_cost": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        },
        "required": ["semanticCacheEnabled", "inputMessageCount", "inputTokenCount", "outputTokenCount", "totalTokenCount", "prompt"]
      },
      "UnifyNodeMetaLog": {
        "type": "object",
        "properties": {
          "inputMessageCount": {
            "type": "integer",
            "format": "int64"
          },
          "inputTokenCount": {
            "type": "integer",
            "format": "int64"
          },
          "outputTokenCount": {
            "type": "integer",
            "format": "int64"
          },
          "totalTokenCount": {
            "type": "integer",
            "format": "int64"
          },
          "prompt": {
            "type": "string"
          },
          "approximate_cost": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "request_model": {
            "type": "string"
          },
          "response_model": {
            "type": "string"
          }
        },
        "required": ["inputMessageCount", "inputTokenCount", "outputTokenCount", "totalTokenCount", "prompt", "request_model", "response_model"]
      },
      "MetaLog": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/LLMNodeMetaLog"
          },
          {
            "$ref": "#/components/schemas/UnifyNodeMetaLog"
          }
        ]
      },
      "ThreadChatMessage": {
        "type": "object",
        "properties": {
          "thread_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "role": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "required": ["role", "content"]
      },
      "ChatMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string"
          },
          "content": {
            "type": "string"
          }
        },
        "required": ["role", "content"]
      },
      "ConditionedValue": {
        "type": "object",
        "properties": {
          "condition": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "required": ["condition", "value"]
      },
      "NodeInput": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/schemas/ThreadChatMessage"
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          {
            "$ref": "#/components/schemas/ConditionedValue"
          }
        ]
      },
      "GraphRequest": {
        "type": "object",
        "required": [
          "endpoint",
          "inputs",
          "env",
          "metadata"
        ],
        "properties": {
          "endpoint": {
            "type": "string",
            "description": "Name of the endpoint to be called. Not to be confused with the pipeline version name."
          },
          "inputs": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/NodeInput"
            }
          },
          "env": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "The keys are env variables such as OPENAI_API_KEY, POSTGRES_URL, etc."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Per-request metadata. Keys are arbitrary strings such as user_id, etc.",
            "nullable": true
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "value",
          "inputs",
          "inputMessages",
          "startTime",
          "endTime",
          "nodeId",
          "nodeName",
          "nodeType"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "value": {
            "$ref": "#/components/schemas/NodeInput"
          },
          "inputMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "description": "all input messages to this node; accumulates previous messages too"
          },
          "inputs": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/NodeInput"
            }
          },
          "metaLog": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MetaLog"
              }
            ],
            "nullable": true
          },
          "nodeId": {
            "type": "string",
            "format": "uuid"
          },
          "nodeName": {
            "type": "string"
          },
          "nodeType": {
            "type": "string"
          },
          "startTime": {
            "type": "string"
          },
          "endTime": {
            "type": "string"
          }
        }
      }
    }
  }
}
