{
  "openapi": "3.0.3",
  "info": {
    "title": "laminar",
    "description": "",
    "license": {
      "name": ""
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.lmnr.ai/api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "endpoint/run": {
      "post": {
        "tags": [
          "api::endpoints"
        ],
        "operationId": "run_endpoint_graph",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Endpoint run result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GraphRequest": {
        "type": "object",
        "required": [
          "endpoint",
          "inputs"
        ],
        "properties": {
          "endpoint": {
            "type": "string"
          },
          "inputs": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/NodeInput"
            }
          },
          "model_api_keys": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "value",
          "inputs",
          "inputMessages",
          "startTime",
          "endTime",
          "nodeId",
          "nodeName",
          "nodeType"
        ],
        "properties": {
          "endTime": {
            "$ref": "#/components/schemas/DateTime"
          },
          "id": {
            "type": "string"
          },
          "inputMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "description": "all input messages to this node; accumulates previous messages too"
          },
          "inputs": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/NodeInput"
            }
          },
          "metaLog": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MetaLog"
              }
            ],
            "nullable": true
          },
          "nodeId": {
            "$ref": "#/components/schemas/Uuid"
          },
          "nodeName": {
            "type": "string"
          },
          "nodeType": {
            "type": "string"
          },
          "startTime": {
            "$ref": "#/components/schemas/DateTime"
          },
          "value": {
            "$ref": "#/components/schemas/NodeInput"
          }
        }
      }
    }
  }
}
